<!DOCTYPE html>
<html lang="en">
<head>
    <% include head.ejs%>
</head>

<body>
<!-- Insert Body here -->
<div class="container">

    <div class="starter-template">
        <%- body %>
    </div>

</div><!-- /.container -->
</body>
</html>